<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">{{ 'asmb.list-users.title' | translate }} ({{users?.length}})</h1>
      <h5>I got bros, in different area codes.</h5>
    </div>
  </div>
  <div class="row align-items-end">
    <div *ngFor="let user of users" class="col-md-6 col-lg-4" [ngClass]="routeAnimationsElements">
      <mat-card>
        <mat-card-title>
          <code *ngIf="user.name">{{user.name}}</code>{{user.name}}
        </mat-card-title>
        <mat-card-subtitle>
          {{ user.name}} {{user.surname}}
        </mat-card-subtitle>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

