$asmb-black-primary: mat-palette($mat-grey, 700, 300, 900);
$asmb-black-accent: mat-palette($mat-blue-grey, 400);
$asmb-black-warn: mat-palette($mat-red, 500);

$asmb-black-theme: mat-dark-theme(
  $asmb-black-primary,
  $asmb-black-accent,
  $asmb-black-warn
);
