$asmb-light-primary: mat-palette($mat-grey, 200, 500, 300);
$asmb-light-accent: mat-palette($mat-brown, 200);
$asmb-light-warn: mat-palette($mat-deep-orange, 200);
$asmb-light-theme: mat-light-theme(
  $asmb-light-primary,
  $asmb-light-accent,
  $asmb-light-warn
);
