$asmb-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$asmb-nature-accent: mat-palette($mat-deep-purple, 300);
$asmb-nature-warn: mat-palette($mat-red, 600);

$asmb-nature-theme: mat-light-theme(
  $asmb-nature-primary,
  $asmb-nature-accent,
  $asmb-nature-warn
);
